<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cuncuntong.mapper.AnnouncementMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cuncuntong.entity.po.Announcement">
        <id column="id" property="id" />
        <result column="ann_title" property="annTitle" />
        <result column="ann_content" property="annContent" />
        <result column="publisher_id" property="publisherId" />
        <result column="publish_time" property="publishTime" />
        <result column="expire_time" property="expireTime" />
        <result column="is_top" property="isTop" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, ann_title, ann_content, publisher_id, publish_time, expire_time, is_top, create_time, update_time, is_deleted
    </sql>

</mapper>
