<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cuncuntong.mapper.LotteryRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cuncuntong.entity.po.LotteryRecord">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="lottery_code" property="lotteryCode" />
        <result column="prize_id" property="prizeId" />
        <result column="lottery_time" property="lotteryTime" />
        <result column="is_win" property="isWin" />
        <result column="win_time" property="winTime" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, lottery_code, prize_id, lottery_time, is_win, win_time, create_time, update_time, is_deleted
    </sql>

</mapper>
