<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cuncuntong.mapper.LotteryPrizeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cuncuntong.entity.po.LotteryPrize">
        <id column="id" property="id" />
        <result column="prize_name" property="prizeName" />
        <result column="prize_type" property="prizeType" />
        <result column="prize_image" property="prizeImage" />
        <result column="start_date" property="startDate" />
        <result column="end_date" property="endDate" />
        <result column="stock" property="stock" />
        <result column="total_prize" property="totalPrize" />
        <result column="probability" property="probability" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, prize_name, prize_type, prize_image, start_date, end_date, stock, total_prize, probability, create_time, update_time, is_deleted
    </sql>

</mapper>
